<!-- Main content -->
<div
  class="ghost relative left-0 right-0 top-32 z-10 m-auto h-52 w-36 border-4 border-indigo-400"
>
  <span
    class="absolute bottom-10 left-0 right-0 m-auto text-center text-4xl font-bold"
    >404</span
  >
  <!-- Eyes -->
  <div
    class="absolute left-0 right-0 mx-auto mt-10 h-3 w-3 translate-x-6 transform rounded-full bg-indigo-400"
  ></div>
  <div
    class="absolute left-0 right-0 mx-auto mt-10 h-3 w-3 -translate-x-6 transform rounded-full bg-indigo-400"
  ></div>

  <!-- Mouth -->
  <div
    class="absolute left-0 right-0 mx-auto mt-20 h-2 w-10 rounded-lg bg-indigo-400"
  ></div>

  <!-- Tail -->
  <div class="corner border-4 border-indigo-400"></div>
  <div class="corner two border-4 border-indigo-400"></div>
  <div class="corner three border-4 border-indigo-400"></div>
  <div class="corner four border-4 border-indigo-400"></div>

  <div class="over"></div>
  <div class="over two"></div>
  <div class="over three"></div>
  <div class="over four"></div>

  <!-- Shadow -->
  <div
    class="ghost-shadow absolute left-0 right-0 mx-auto mt-56 h-10 w-32 rounded bg-indigo-400"
  ></div>
</div>

<div class="container mx-auto mt-60 text-center">
  <h2 class="mb-4 text-4xl font-bold">Page not found</h2>
  <p>Looks like the page you're looking for is gone or doesn't exist.</p>
</div>
