<!-- Header -->
<header id="header" class="bg-color-secondary">
  <nav class="container mx-auto flex items-center justify-start px-4 py-8">
    <!-- App Name -->
    <a class="mr-4 text-3xl font-bold uppercase text-indigo-400" routerLink="/"
      >Clips</a
    >

    <div class="flex flex-grow items-center">
      <!-- Primary Navigation -->
      <ul class="mt-1 flex flex-row">
        <!-- Navigation Links -->
        <li>
          <a class="px-2" routerLink="about" routerLinkActive="text-indigo-400"
            >About</a
          >
        </li>
        <li *ngIf="!isAuthenticated(); else authLinks">
          <a class="cursor-pointer px-2" (click)="openModal()">
            Login / Register
          </a>
        </li>
        <ng-template #authLinks>
          <li>
            <a
              class="px-2"
              routerLink="video/manage"
              routerLinkActive="text-indigo-400"
              >Manage</a
            >
          </li>
          <li>
            <a
              class="px-2"
              routerLink="video/upload"
              routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{ exact: true }"
              >Upload</a
            >
          </li>
          <li>
            <a class="cursor-pointer px-2" (click)="logout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</header>
